* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}

.navbar {
    padding: 15px 30px;
    background-image: linear-gradient(#363636, #ffffff);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.footer {
    
}