.navList {
  padding: 0px;
  padding-right: 20px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.navLinks {
  padding: 20px 40px 20px 0px;
  color: white;
}

.gradientEffect {
  background: linear-gradient(#0c0c0c 0%, rgba(0, 0, 0, 0));
}
