.navList {
  padding: 0px;
  padding-right: 20px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.navLinks {
  padding: 15px 30px 15px 0px;
  color: white;
}

.customColor {
  /* background: linear-gradient(#0c0c0c 0%, rgba(12, 12, 12, 0)); */
  background-color: #0c0c0c;
}

.hamburgerMenu {
  color: white;
  border: 2px solid white;
  margin-right: 10px;
  opacity: 1;
}
