.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  margin: 10px;

  max-width: 25rem;

  border: 1px solid #363636;
  border-radius: 5px;
}

.imageNprice {
  position: relative;
}

.image {
  height: auto;
  max-width: 300px;
  max-height: 100%;
  border-radius: 5px;
}

.description {
  max-width: 300px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding: 10px;
  overflow-y: scroll;
}

.price {
  color: #f0f0f0;
  font-weight: 400;
  align-self: center;
  margin: 0;
}

.dot {
  height: 60px;
  width: 60px;

  background-color: #a91b08;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-right: 1px solid #363636;
  border-bottom: 1px solid #363636;

  position: absolute;
  top: 8px;
  left: 8px;

  z-index: 1;
}
